# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

PORT = "your-port"
APP_URL = "your-app-url"

BCRYPT_SALT_ROUNDS = "your-bcrypt-salt-round"

#jsonwebtoken
JWT_ACCESS_SECRET = "your-jwt-access-token"
JWT_REFRESH_SECRET = "your-jwt-refresh-token"

JWT_ACCESS_EXPIRES_IN = "your-jwt-access-expires-in"
JWT_REFRESH_EXPIRES_IN = "your-jwt-refresh-expires-in"

#Stripe
STRIPE_PRODUCT_ID = "your-stripe-product-id"
STRIPE_SECRET_KEY = "your-stripe-secret-key"

DATABASE_URL="your-database-connection-string-here"